{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Page</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<div class="background-wrapper">
    <div class="login-form">
        <div class="nf-404">
            <div class="nf-404">
                <p style="font-size: 40px">404</p>
                <p>Что будете делать?</p>
            </div>
            <img src="{% static 'images/cat.gif' %}" alt="meow">
        </div>
    </div>
</div>
