{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="schedule-content">
        <div class="schedule-title">
            <p>Календарь</p>
        </div>
        <div class="schedule-calendar">
            <div class="schedule-calendar-row">
                <div class="schedule-date-button">1</div>
                <div class="schedule-date-button">2</div>
                <div class="schedule-date-button">3</div>
                <div class="schedule-date-button">4</div>
                <div class="schedule-date-button">5</div>
                <div class="schedule-date-button">6</div>
                <div class="schedule-date-button">7</div>
            </div>
            <div class="schedule-calendar-row">
                <div class="schedule-date-button">8</div>
                <div class="schedule-date-button">9</div>
                <div class="schedule-date-button">10</div>
                <div class="schedule-date-button">11</div>
                <div class="schedule-date-button">12</div>
                <div class="schedule-date-button">13</div>
                <div class="schedule-date-button">14</div>
            </div>
            <div class="schedule-calendar-row">
                <div class="schedule-date-button">15</div>
                <div class="schedule-date-button">16</div>
                <div class="schedule-date-button">17</div>
                <div class="schedule-date-button">18</div>
                <div class="schedule-date-button">19</div>
                <div class="schedule-date-button">20</div>
                <div class="schedule-date-button">21</div>
            </div>
            <div class="schedule-calendar-row">
                <div class="schedule-date-button">22</div>
                <div class="schedule-date-button">23</div>
                <div class="schedule-date-button">24</div>
                <div class="schedule-date-button">25</div>
                <div class="schedule-date-button">26</div>
                <div class="schedule-date-button">27</div>
                <div class="schedule-date-button">28</div>
            </div>
        </div>
    </div>

    <div style="width: 1px; margin-left: 120px; margin-right: 120px"></div>

    <div class="schedule-content">
        <div class="schedule-title">
            <p>2 июня 2023 года</p>
        </div>
        <div class="schedule-pat-list">
            <div class="schedule-pat-list-row">
                <div class="schedule-pat-list-date">8:30</div>
                <div class="schedule-pat-list-patient">Алёша Попович</div>
            </div>
            <div class="schedule-pat-list-row">
                <div class="schedule-pat-list-date">10:30</div>
                <div class="schedule-pat-list-patient">Илья Муромец</div>
            </div>
            <div class="schedule-pat-list-row">
                <div class="schedule-pat-list-date">19:00</div>
                <div class="schedule-pat-list-patient">Добрыня Никитыч</div>
            </div>
        </div>
    </div>
{% endblock %}